.container {
  margin-top: 100px;
  width: 500px;
}

* {
  box-sizing: border-box;
}

#app {
  display: grid;
}

.top {
  display: grid;
  height: 60vh;
  width: 100vw;
}

.bottom {
  display: grid;
  height: 40vh;
  width: 100vw;
  justify-content: center;
  grid-template-rows: 100%;
  grid-template-columns: 20% 60% 20%;
}

.bottom-middle {
  display: grid;
  grid-area: 1 / 2 / span 1 / span 1;
  text-align: center;
  align-items: center;
  background-color: rgb(190, 210, 210);
  border: 2px solid black;
}