.container {
  margin-top: 100px;
  width: 500px;
}

* {
  box-sizing: border-box;
}

#app {
  display: grid;
}

.top-contain {
  display: grid;
  height: 60vh;
  width: 100%;
  grid-template-rows: 100%;
  grid-template-columns: 20% 60% 20%;
  border-bottom: 2px solid black;
}

.top {
  display: grid;
  grid-area: 1 / 2 / span 1 / span 1;
  justify-items: center;
  align-content: center;
}

.top img {
  max-height: 90%;
  border-radius: 2%;
}

.bottom {
  display: grid;
  height: 40vh;
  width: 100vw;
  justify-content: center;
  grid-template-rows: 100%;
  grid-template-columns: 20% 60% 20%;
}

.bottom-left {
  display: grid;
  grid-area: 1 / 1 / span 1 / span 1;
  background-image: url("./images/pup1.jpg");
  background-size: cover;
  background-position: 60% 0%;
}

.bottom-middle {
  display: grid;
  grid-area: 1 / 2 / span 1 / span 1;
  text-align: center;
  align-items: center;
  background-color: rgb(190, 210, 210);
}

.bottom-right {
  display: grid;
  grid-area: 1 / 3 / span 1 / span 1;
  background-image: url("./images/brindle-logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #879958;
}